
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin:0;
    top: 0;
    background-color:#cdc5ff;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
    
}
.navbar{
    grid-column: 1/6;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:#211d7f;
    height:60px;
    align-items: center;
}
.navbar a{
    padding: 5px 10px 5px 10px;
    color:#ffffff;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    font-size:x-large;
}


.login-box{
   
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 3/5;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    width:65%;
    height: 335px;
    border:1px solid rgb(94, 94, 94);
    border-radius:0px;
    padding:10px 12px;
    background-color: #ffffff;
    box-shadow: 3px 2px rgb(34, 34, 34); 
    /* background-color: hsla(201, 100%, 50%, 0.1); */
   
}
.login-box input[type="email"]{
    display: block;
    height: 20%;
    width: 100%;
    padding:1px 4px 1px 5px;
    
}
.login-box input[type="password"]
{
    display: block;
    height:20%;
    width:100%;
    padding:1px 4px 1px 5px;
    
}
.login-box #lgn-button{
    margin-top: 20px;
    padding:10px 12px;
    width: 30%;
    border-radius: 0px none;
    background-color:#211d7f;
    color:white;
    margin-left: 35%;
   
    
}
.login-box #rg-button{
    width:100%;
    padding:10px 12px;
    border-radius: 5px;
    background-color:#5cdb5c;
    color:White;
    margin-top:0px;    
}
.login-box h4{
   align-self: center;
   
}
.login-box #lgn-button:hover{
        cursor: pointer;
        background-color:#8c8cf0;
}